@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@apply bg-rich-black-500 scroll-smooth text-white font-sans;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-Regular.woff2') format('woff2'),
		url('./fonts/Montserrat-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('./fonts/Nunito-Regular.woff2') format('woff2'),
		url('./fonts/Nunito-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('./fonts/RobotoMono-Regular.woff2') format('woff2'),
		url('./fonts/RobotoMono-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
